<ng-container *ngIf="{ task: (task$ | async), project: (project$ | async) } as data">
	<app-task
		[task]="data.task"
		[project]="data.project"
		(onNavigateToBoard)="navigateToBoard()"
		(onNavigateToProject)="navigateToProject($event)"
		(onCreateSubTask)="openCreateSubTaskModal($event.projectId, $event.taskId)"
		(onEditTask)="openEditTaskDialog($event)"
		(onDeleteTask)="openDeleteTaskDialog($event.projectId, $event.taskId)"
		(onUpdateTaskStatus)="updateTask($event)"
	></app-task>
</ng-container>
