<div class="task" *ngIf="project && task">
	<div class="task-navigation">
		<div class="task-navigation-board" (click)="navigateToBoard()">
			<mat-icon class="back-icon">arrow_back</mat-icon>
			Projects board
		</div>/
		<div class="task-navigation-project" (click)="navigateToProject()">
			{{ project.name }}
		</div>
	</div>

	<div class="task-header">
		<p class="task-title">{{ task.name }}</p>

		<div class="task-actions">
			<button mat-stroked-button class="action" type="submit" (click)="createSubTask()">
				Create new subtask
			</button>

			<button mat-stroked-button class="action" type="submit" (click)="editTask()">
				Edit task
			</button>

			<button mat-stroked-button class="action" type="submit" (click)="deleteTask()">
				Delete task
			</button>
		</div>
	</div>

	<mat-form-field appearance="outline">
		<mat-label>Assignee</mat-label>
		<mat-select [formControl]="taskAssignee"
			(selectionChange)="updateTaskField('assignee_id', $event.value)">
			<mat-option value="unassigned">
				unassigned
			</mat-option>
			<mat-option *ngFor="let user of users" value="{{ user.id }}">
				{{ user.first_name }} {{ user.last_name }}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label>Status</mat-label>
		<mat-select [formControl]="taskStatus"
			(selectionChange)="updateTaskField('status', $event.value)">
			<mat-option *ngFor="let status of tasksStatuses" [value]="status">
				{{ taskStatusesSet[status] }}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<p *ngIf="task.description" class="task-description">{{ task.description }}</p>

</div>
