<ng-container 
	*ngIf="{ 
		issue: (issue$ | async), 
		issueSubtasks: (issueSubtasks$ | async), 
		project: (project$ | async),
		users: (users$ | async),
		issueAssignee: (issueAssignee$ | async),
		issueReporter: (issueReporter$ | async)
	} as data"
>
	<app-issue
		[issue]="data.issue"
		[issueSubtasks]="data.issueSubtasks"
		[project]="data.project"
		[users]="data.users"
		[issueAssignee]="data.issueAssignee"
		[issueReporter]="data.issueReporter"
		(onNavigateToBoard)="navigateToBoard()"
		(onNavigateToProject)="navigateToProject($event)"
		(onCreateSubTask)="openCreateSubTaskModal($event.projectId, $event.issueId)"
		(onEditIssue)="openEditIssueDialog($event)"
		(onDeleteIssue)="openDeleteIssueDialog($event.projectId, $event.issueId)"
		(onUpdateIssueFields)="updateIssue($event.issueId, $event.updatedData)"
	></app-issue>
</ng-container>
