@font-face {
    font-family: EtelkaText;
    src: url("../../assets/fonts/EtelkaText.otf");
  }
  
  @font-face {
    font-family: EtelkaTextItalic;
    src: url("../../assets/fonts/EtelkaText-Italic.otf");
  }
  
  @font-face {
    font-family: EtelkaMedium;
    src: url("../../assets/fonts/EtelkaMedium.otf");
  }
  
  @font-face {
    font-family: EtelkaMediumItalic;
    src: url("../../assets/fonts/EtelkaMedium-Italic.otf");
  }
  
  @font-face {
    font-family: EtelkaLightPro;
    src: url("../../assets/fonts/EtelkaLightPro.otf");
  }
  