@import "scss/theme/variables";

.login {
  width: 440px;
  margin: 100px auto;

  &-title {
    text-align: center;
    margin-top: 16px;
  }

  &-button {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    min-height: 38px;
  }

  &-field {
    display: block;
    margin-bottom: 12px;
  }
  
  &-error {
    margin-top: 24px;
    color: $color-text-error;
  }

  &-toggle {
    text-decoration: underline;
  }
}
