<div class="dialog" [formGroup]="projectForm">
  <h3 class="h3 dialog-title">{{ data.title }}</h3>
  <mat-dialog-content class="dialog-content">

    <!-- Project name field -->
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Project name</mat-label>
      <input matInput required type="text" formControlName="name" />
      <mat-error *ngIf="hasFieldValidationError('name', 'emptyValue')">
        {{ validationMessages.required }}
      </mat-error>
      <mat-error *ngIf="hasFieldValidationError('name', 'maxlength')">
        {{ validationMessages.maxCharactersLength }}
      </mat-error>
    </mat-form-field>
    <!--/ Project name field -->

    <mat-form-field appearance="outline">
			<mat-label>Leader</mat-label>
			<mat-select formControlName="leader_id" (openedChange)="userFilter.value = ''; resetFilteredUsers()">
				<mat-form-field floatLabel="never">
					<input #userFilter matInput placeholder="Search" (keyup)="filterUsers($event.target.value)" />
				</mat-form-field>
				<mat-option *ngFor="let user of filteredUsers" [value]="user.id">
					{{ user.first_name }} {{ user.last_name }}
				</mat-option>
			</mat-select>
		</mat-form-field>

    <mat-form-field appearance="outline">
			<mat-label>Participants</mat-label>
			<mat-select multiple formControlName="participants_ids" (openedChange)="userFilter.value = ''; resetFilteredUsers()">
				<mat-form-field floatLabel="never">
					<input #userFilter matInput placeholder="Search" (keyup)="filterUsers($event.target.value)" />
				</mat-form-field>

				<mat-option *ngFor="let user of filteredUsers" [value]="user.id">
					{{ user.first_name }} {{ user.last_name }}
				</mat-option>
			</mat-select>
		</mat-form-field>

    <!-- Project description field -->
    <mat-form-field class="textarea" appearance="outline" floatLabel="always">
      <mat-label>Description</mat-label>
      <textarea matInput autocomplete="false" cdkTextareaAutosize cdkAutosizeMaxRows="6"
        formControlName="description"></textarea>
    </mat-form-field>
    <!--/ Project description field -->

  </mat-dialog-content>

  <mat-dialog-actions class="dialog-actions">
    <button mat-stroked-button [disabled]="isSubmitDisabled" (click)="saveProject()">
      {{ data.confirmBtnText }}
    </button>
    <button mat-stroked-button mat-dialog-close>
      {{ data.cancelBtnText }}
    </button>
  </mat-dialog-actions>
</div>