<!-- TODO: add loader while loading project -->
<div *ngIf="project" class="project">
	<div class="project-navigation" (click)="navigateToBoard()">
		<mat-icon class="back-icon">arrow_back</mat-icon>
		Go to projects board
	</div>

	<div class="project-header">
		<p class="project-title">{{ project.name }}</p>

		<div class="project-actions">
			<button mat-stroked-button class="action" type="submit" (click)="createIssue()">
				Create new issue
			</button>

			<button mat-stroked-button class="action" type="submit" (click)="editProject()">
				Edit project
			</button>
			
			<button mat-stroked-button class="action" type="submit" (click)="deleteProject()">
				Delete project
			</button>
		</div>
	</div>

	<p *ngIf="project.description" class="project-description">{{ project.description }}</p>

	<div class="project-tasks-table">
		<div class="header">
			<div *ngFor="let status of issueStatuses; trackBy: trackById" class="status">
				<p class="status-name">{{ issueStatusesSet[status] }}</p>
			</div>
		</div>

		<div *ngFor="let issue of projectIssuesMap.issuesWithSubtasks; trackBy: trackById" class="task">
			<div class="task-header" >
				<p class="task-name" (click)="navigateToIssue(issue.id)">{{ issue.name }}</p>
			</div>

			<div class="task-subtasks">
				<div *ngFor="let status of issueStatuses; trackBy: trackById" class="column">
	
					<div class="column-items">
						<div *ngFor="let subtask of getSubtasks(issue.id, status); trackBy: trackById" class="item">
							<app-issue-card-container
								[issue]="subtask"
								[projectId]="project.id"
						></app-issue-card-container>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="task">
			<div class="task-header">
				<p class="task-name not-clickable">Other issues</p>
			</div>

			<div class="task-subtasks">
				<div *ngFor="let status of issueStatuses; trackBy: trackById" class="column">
	
					<div class="column-items">
						<div *ngFor="let task of getOtherIssues(status); trackBy: trackById" class="item">
							<app-issue-card-container
								[issue]="task"
								[projectId]="project.id"
							></app-issue-card-container>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
