@import "../../scss/theme/variables";

.projects-board {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 32px;
    box-sizing: border-box;
}

.projects-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
